<!-- main-container start -->
<!-- ================ -->

<section class="pv-30 clearfix">
	<div class="container">
		<h1 class="text-center">About Fa#</h1>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center" style="color: #c82727"><strong>Fa#</strong> là ai?</h2>
				<div class="separator"></div>
				<p class="large">
					Thành lập vào tháng 06/2016, Fashion# là một hệ thống thương mại điện tử đầu tiên dành

					cho thời trang thiết kế Việt Nam, nơi quy tụ những hàng thời trang thiết kế độc đáo nhất,
					
					nhằm tôn vinh hình ảnh người con gái tài năng, hoài bão và không kém phần xinh đẹp.
					
					Chúng tôi cung cấp mô hình mua sắm thân thiện, an toàn, và tiện lợi cho khách hàng ở
					
					bất cứ đâu, bất cứ lúc nào trên máy tính và điện thoại.
				</p>
			</div>
			<div class="col-md-3 col-xs-6">
				<div style="height: 260px" class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon default-bg circle"><i class="fa fa-shopping-bag"></i></span>
					<h3>Hiện đại</h3>
					<div class="separator clearfix"></div>
					<p>Mô hình mua sắm hiện đại</p>

				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div style="height: 260px" class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon default-bg circle"><i class="fa fa-check"></i></span>
					<h3>Tin cậy</h3>
					<div class="separator clearfix"></div>
					<p>Xây dựng thương hiệu tin cậy cho thời trang thiết kế Việt Nam</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div style="height: 260px" class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon default-bg circle"><i class="fa fa-clock-o"></i></span>
					<h3>Nhanh gọn</h3>
					<div class="separator clearfix"></div>
					<p>Quy tụ những hãng thời trang thiết kế trên Facebook giúp tiết kiệm thời gian</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div style="height: 260px" class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon default-bg circle"><i class="fa fa-heart"></i></span>
					<h3>Tận tình</h3>
					<div class="separator clearfix"></div>
					<p>Chính sách tri ân khách hàng, đổi trả hàng và thật nhiều quà tặng</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section default-bg  default-hovered footer-top animated-text">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8">
							<h1 class="title">Chăm sóc khách hàng tại Fa#</h1>
							<p style="color: white ">Fa# luôn nỗ lực không ngừng nằm nâng cao chất lượng dịch vụ và mang đến cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất. Đối với bất kì thắc mắc và phản hồi, vui lòng liên hệ Customer Service tại đây. Chúng tôi sẽ đáp ứng yêu cầu của bạn trong vòng 24 giờ.</p>
						</div>
						
						<div class="col-sm-4">
							<p class="mt-10"><a target="_blank" href="/static_pages/contact_us" class="btn btn-animated btn-lg btn-gray-transparent ">Customer Service<i class="fa fa-life-ring pl-20"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pv-30 clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center" style="color: #c82727">Kinh doanh tại <strong>Fa#</strong></h2>
				<div class="separator"></div>
				<p class="large">
					Fa# cung cấp cho những hãng thiết kế thời trang Việt Nam một hệ thống chuyên nghiệp từ quảng bá sản phẩm, 
					quản lý kho hàng, quản lý đơn hàng, vận chuyển, đến chăm sóc khách hàng. Các hãng thiết kế chỉ việc đăng sản phẩm 
					lên Fa#, cập nhật trạng thái sản phẩm khi có đơn hàng, và đợi nhân viên vận chuyển của Fa# sẽ đến lấy hàng theo đúng 
					giờ hẹn. Thật nhanh chóng, thuận tiện!
				</p>
			</div>
			<div class="col-md-6">
				
				<div class="feature-box-2 white-bg object-non-visible right boxed bordered p-20 animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon without-bg"><i class="text-default fa fa-truck "></i></span>
					<div class="body">
						<h4 class="title" id="about-us-h4">Dịch vụ chăm sóc khách hàng, vận chuyển hàng</h4>
					</div>
				</div>
				<div class="feature-box-2 white-bg object-non-visible right boxed bordered p-20 animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon without-bg"><i class="text-default fa fa-wrench"></i></span>
					<div class="body">
						<h4 class="title" id="about-us-h4">Sẵn sàng trợ giúp kĩ thuật 24/7</h4>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				
				<div class="feature-box-2 white-bg object-non-visible boxed bordered p-20 animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon without-bg"><i class="glyphicon glyphicon-briefcase text-default "></i></span>
					<div class="body">
						<h4 class="title" id="about-us-h4">Công cụ quản lý kho hàng, quản lý đơn hàng</h4>
					</div>
				</div>
				
				<div class="feature-box-2 white-bg object-non-visible boxed bordered p-20 animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon without-bg"><i class="text-default fa fa-users "></i></span>
					<div class="body">
						<h4 class="title" id="about-us-h4">Kế hoạch marketing toàn diện</h4>
					</div>
				</div>
				
			</div>
			
			<style>
				h4#about-us-h4 {
					margin-top: 10px;
				}
			</style>
		</div>
	</div>
</section>
