
<style>

	
    #myScrollspy ul li a {
    	text-transform: none;
    }
    
    #myScrollspy ul li:not(.nav-header) a {
    	margin-left: 25px;
    }
	
	#myScrollspy>ul>li:not(.active)>a:focus {
		color: #777;
	}
    #myScrollspy ul li.nav-header a h5 {
    	text-transform: uppercase;
    	margin-top: 0;
    	margin-bottom: 0;
    	text-align: left;
    	background-color: #ef6e6e;
    }
    #myScrollspy ul li.nav-header.active a h5 {
    	background-color: #c15050;
    }
	
	#myScrollspy>ul>li>a:after {
		content: "";
	}
	h3.policy-header, h2.text-center {
		padding-top: 90px; margin-top: -90px;
	}
	
	#myScrollspy[class^="affix"] h3 {
		padding-top: 0; margin-top: 20px;
	}
	.affix {
	  top: 120px;
	}
	.affix-bottom {
	  position: absolute;
	}

</style>
<section class="main-container" style="margin-left: 15px; margin-right: 15px; position: relative">
	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">
				<h1 class="text-center">Quy định khi mua hàng tại Fa#</h1>
				<div class="row">
					<div class="">
						<h2 class="text-center" style="color: #c82727" id="chinh-sach-doi-tra">Chính sách đổi trả hàng</h2>
						<div class="separator"></div>
						<h3 id="dieu-kien-doi-tra" class="policy-header">Điều kiện đổi trả</h3>
						<ol class="lead" id="policy-ol">
						    <li>Hóa đơn nhận hàng còn nguyên vẹn;</li>
						    <li>Trong vòng 3 ngày kể từ ngày nhận hàng;</li>
						    <li>Còn nguyên tem, nhãn mác, hộp và bao bì có dán mã sản phẩm;</li>
						    <li>Chưa qua sử dụng, giặt ủi, không bị dơ bẩn;</li>
						    <li>Sản phầm còn nguyên vẹn 100%, không có dấu hiệu qua sử dụng, không bị rách, nhàu, nát, thiếu phụ kiện.</li>
						</ol>
						
						<h3 id="quy-trinh-doi-tra" class="policy-header">Quy trình đổi trả hàng thông qua Fa#</h3>
						<ol class="lead" id="policy-ol">
						    <li>Đăng kí đổi trả: Liên hệ Fa# Customer Service hotline: <span class="text-default">090 628-3622</span> hoặc email: <a href="mailto:fathanghotro@gmail.com">fathanghotro@gmail.com</a> để yêu cầu đổi trả.</li>
						    <li>Thông tin xác nhận: Trạng thái sản phẩm được yêu cầu đổi/trả sẽ được thay đổi trên hệ thống thành 
						    "Chờ được hoàn trả". Email xác nhận sẽ được gửi đến khách hàng ngay sau khi khách hàng đăng kí đổi/trả thành công.
		                    </li>
						    <li>Quý khách có thể đổi trả hàng qua hai phương thức sau đây: <br></br>
						    	<ol type="a" style="margin-top: -20px;">
						    		<li>Nhân viên vận chuyển sẽ tiếp nhận sản phẩm từ khách hàng và niêm phong sản phẩm. 
						    		Khách hàng sẽ điền đầy đủ thông tin và lý do vào biên bản đổi trả hàng. 
						    		Trạng thái của sản phẩm sẽ được chuyển thành "Khách hàng đã gửi sản phẩm".
									</li>
						    		<li>Khách hàng mang hàng hóa đến trả trực tiếp tại địa chỉ của người bán hàng (NBH).
						    		 NBH sẽ kiểm tra chất lượng sản phẩm và có quyền từ chối yêu cầu đổi trả hàng nếu như sản phẩm 
						    		 không thỏa mãn các điều kiện đổi trả. NBH sau khi nhận lại sản phẩm phải thay đổi trạng thái thành "Đã Hoàn Trả".</li>
						    	</ol>
						    </li>
						</ol>
						
						<h3 id="thanh-toan-chi-phi" class="policy-header">Thanh toán chi phí đổi trả hàng</h3>
						<ol class="lead" id="policy-ol">
							<li>Quý khách vui lòng thanh toán chi phí 2 lần vận chuyển (gửi hàng về cho Fa#,
								và Fa# gửi trả lại hàng cho khách hàng).</li>
							<li>Khi quý khách trả hàng và đổi lấy món hàng mới với giá cao hơn, quý khách được
								yêu cầu trả khoản chênh lệch của hai sản phẩm cho NBH.</li>
							<li>Khi quý khách trả hàng và đổi lấy món hàng với giá thấp hơn, quý khách hàng sẽ nhận
								được số tiền tương ứng với sự chênh lệch của hai sản phẩm dưới dạng tiền ảo.</li>
						</ol>
						
					</div>
					
				</div>
				<div class="row">
					<div class="">
						<h2 class="text-center" style="color: #c82727" id="canh-bao-so-luong">Cảnh báo số lượng sản phẩm</h2>
						<div class="separator"></div>
						<h3 id="canh-bao-la-gi" class="policy-header">Tính năng cảnh báo số lượng sản phẩm là gì?</h3>
						<p class="large ">
							Khi lượng hàng của một mẫu sản phẩm giảm xuống còn ít hơn 03 (ba) sản phẩm, một
							cảnh báo sẽ hiện lên để báo cho khách mua hàng. Khách mua hàng sẽ được thông báo
							rằng số lượng sản phẩm cho màu và cỡ đó còn ít. Sau khi khách hàng hoàn tất việc đặt
							đơn hàng, đơn hàng của khách sẽ ở trạng thái chờ được xác nhận. Nhân viên chăm sóc
							khách hàng của Fa# sẽ kiêm tra hàng với shop cung cấp sản phẩm để xác nhận đơn hàng.
							Sau đó, nhân viên của Fa# sẽ chủ động liên lạc với khách hàng để thông báo kết quả về
							đơn hàng có thành công hay không. Đồng thời nhân viên của Fa# sẽ giúp khách hàng tư
							vấn về những lựa chọn khác nếu như sản phẩm khách hàng đặt đã được bán hết.
						</p>
						<h3 id="tai-sao-canh-bao" class="policy-header">Tại sao lại có tính năng này?</h3>
						<p class="large ">
							Thời trang thiết kế là một ngành rất đặc biệt không giống với những ngành thời trang
							công nghiệp khác. Mỗi sản phẩm đều được thiết kế công phu và được sản xuất với số
							lượng rất nhỏ. Ngược lại, vì thiết kế đẹp và giá cả phải chăng nên nhu cầu cho những sản
							phẩm này là vô cùng cao. Để tránh trường hợp có nhiều khách hàng đặt hàng cùng lúc, tại
							nhiều kênh bán hàng khác nhau của cùng một shop gây ra xung đột, Fashion# sẽ xử lý
							từng đơn hàng của khách hàng bằng tay khi số lượng sản phẩm khi số lượng xuống thấp
							hơn 03 sản phẩm. Fa# cam kết sẽ giải đáp mọi thắc mắc của khách hàng và các shop
							tham gia để đảm bảo lợi ích cho cả hai bên. <br></br>Mọi thắc mắc xin liên hệ với tổ chăm sóc
							khách hàng của chúng tôi tại <%= link_to('contact_us') do %>đây<%end%>.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="">
						<h2 class="text-center" style="color: #c82727" id="chuong-trinh-khuyen-mai">Chương trình khuyến mại</h2>
						<div class="separator"></div>
						<p class="large ">
							Tại Fa#, chúng tôi luôn coi khách hàng là thượng đế. Với những khách hàng đầu tiên của
							chúng tôi, bạn sẽ nhận được ngay phiếu coupon giảm giá 10% khi <%= link_to(register_url) do %>đăng ký<%end%>.
						</p>
						<p class="large ">
							Ngay khi đăng ký thành công, bạn sẽ nhận được một “Mã giới thiệu” cá nhân. Nếu bạn
							giới thiệu một người khác đăng ký với mã giới thiệu của mình, bạn sẽ nhận thêm ngay
							một phiếu giảm giá 5% nữa sau khi người đó đặt mua đơn hàng đầu tiên. Bạn sẽ nhận
							được phiếu coupon mới vào tài khoản của mình với mỗi lần giới thiệu như vậy, và số
							coupon bạn có thể nhận được là KHÔNG GIỚI HẠN.
						</p>
						<p class="large ">
							Bạn có nhiều coupon giảm giá quá ư? Đừng lo lắng, bạn có thể dùng những phiếu coupon
							mình không dùng đến để đổi những phần quà vô cùng giá trị như kem dưỡng ẩm
							Clinique, son môi, nước hoa, … Toàn bộ những sản phẩm quà tặng đều có xuất xứ từ
							Mỹ, có giá trị lên tới 1.000.000đ / quà tặng.
						</p>
						<p class="large ">
							Hơn nữa, với mỗi đơn hàng thành công, bạn sẽ tích lũy điểm mua hàng như một hình
							thức tri ân sự tin tưởng của khách hàng với Fa#. Bạn có thể dùng điểm tích lũy này để đổi
							lấy những quà tặng đặc biệt và giá trị như kem dưỡng ẩm Clinique, son môi, nước hoa,
							… Toàn bộ những sản phẩm quà tặng đều có xuất xứ từ Mỹ, có giá trị lên tới 1.000.000đ /
							quà tặng. Những món quà này sẽ được nhân viên Fa# trao tận tay bạn đặt khi có đơn hàng
							tiếp theo, hoặc bạn có thể đến trụ sở của Fa# để nhận những món quà này.
						</p>
					</div>
				</div>
				
				<div class="row">
					<div class="">
						<h2 class="text-center" style="color: #c82727" id="shipping">Phí vận chuyển</h2>
						<div class="separator"></div>
						<p class="large ">
							Tại Fa#, chúng tôi có ưu đãi lớn với những khách hàng trong Hà Nội. Với những đơn hàng có địa chỉ là nội thành Hà Nội, phí vận chuyển sẽ được tính dựa trên đơn hàng của bạn có sản phẩm từ bao nhiêu shop trực thuộc Fa#.
							<table class="table text-center">
								<thead>
									<tr>
										<th class="text-center"><b>Số shop trong đơn hàng</b></th>
										<th class="text-center"><b>Phí vận chuyển trong Hà Nội</b></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1 shop</td>
										<td>25.000đ</td>
									</tr>
									<tr>
										<td>2 shop</td>
										<td>30.000đ</td>
									</tr>
									<tr>
										<td>Nhiều hơn 2 shop</td>
										<td>35.000đ</td>
									</tr>
								</tbody>
							</table>
						</p>
						
						<p class="large">
							Ví dụ: Đơn hàng A gồm 2 sản phẩm nhưng đều có chung xuất xứ từ cùng một shop trên Fa#, phí vận chuyển là 25.000đ.
							Đơn hàng B gồm 3 sản phẩm xuất xứ từ 3 shop khác nhau, phí vận chuyển là 35.000đ.
						</p>
						
						<p class="large ">
							Với những khách hàng ở ngoài Hà Nội, chúng tôi sẽ sử dụng dịch vụ của bên thứ ba - dịch vụ giao hành nhanh chuyên nghiệp <a target="_blank" href='http://proship.vn'>Proship</a>.
							Bảng giá về phí vận chuyển nhanh trong nước đi từ Hà Nội được cung cấp bởi proship.vn và có thể tìm thấy tại <a href='//dm8zhh1kj2vw2.cloudfront.net/uploads/misc/Fathang-ship-ngoai-thanh.pdf'>đây</a>.
						</p>
						
					</div>
				</div>
			</div>
			<!-- main end -->

			<!-- sidebar start -->
			<!-- ================ -->
			<aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9 hidden-xs hidden-sm">
				<div class="sidebar">
					<div class="block clearfix">
						
						<nav id="myScrollspy" data-spy="affix" data-offset-top="100" data-offset-bottom="1500">
							<h3 class="title">MENU</h3>
							<div class="separator-2"></div>
							<ul class="nav nav-list nav-pills nav-stacked">
							  	<li class="nav-header"><a data-scroll href="#chinh-sach-doi-tra"><h5 class="btn square btn-default btn-block">Chính sách đổi trả hàng</h5></a></li>
							  	<li><a href="#dieu-kien-doi-tra">Điều kiện đổi trả</a></li>
								<li><a href="#quy-trinh-doi-tra">Quy trình đổi trả hàng thông qua Fa#</a></li>
								<li><a href="#thanh-toan-chi-phi">Thanh toán chi phí đổi trả hàng</a></li>
								</br>
								<li class="nav-header"><a href="#canh-bao-so-luong"><h5 class="btn square btn-default btn-block">Cảnh báo số lượng sản phẩm</h5></a></li>
								<li><a href="#canh-bao-la-gi">Tính năng cảnh báo số lượng là gì?</a></li>
								<li><a href="#tai-sao-canh-bao">Tại sao lại có tính năng này?</a></li>
								</br>
								<li class="nav-header"><a href="#chuong-trinh-khuyen-mai"><h5 class="btn square btn-default btn-block">Chương trình khuyến mại</h5></a></li>
								<li class="nav-header"><a href="#shipping"><h5 class="btn square btn-default btn-block">Phí vận chuyển</h5></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</aside>
			<!-- sidebar end -->

		</div>
	</div>
</section>