Code của bạn là: <%= @user.forgot_password_code %>
<p>
  <strong>Thiết lập lại mật khẩu:</strong>
  <%= link_to "Link","https://fathang.com/reset_password/" +  @user.forgot_password_code , method: :get%>
</p>
<p>Fa# Team</p>