Cảm ơn bạn đã subscribe với Fa#. Nếu bạn đã đăng ký, bạn sẽ nhận được phiếu giảm giá 5% trong vòng 24 giờ tới.
Nếu bạn chưa đăng ký, hãy <%= link_to "đăng ký","https://fathang.com/register", method: :get%> ngay để nhận được thêm phiếu giảm giá 10% và tận hưởng niềm vui mua sắm tại Fa#.
<br>
<p>Fa# Team</p>