<h2> Cảm ơn bạn đã mua hàng tại Fashion#. </h2>
<br>
<strong> Mã số đơn hàng của bạn là <%= @confirmation %> </strong>
<br>
<strong> Hóa đơn chi tiết đơn hãng sẽ được gửi đến email của bạn trong vài phút. </strong>
<br>
Nếu có thắc mắc, hãy liên lạc ngay với chúng tôi tại <a> fathanghotro@gmail.com </a> để được trợ giúp.
