<h1>Cảm ơn bạn đã chia sẻ!</h1>
<p>Chúng tôi sẽ tặng bạn phiếu giảm giá 10% trong thời gian gần nhất. Nếu bạn không thấy email thông báo phiếu giảm giá trong vòng 48 tiếng tới, 
xin vui lòng liên hệ tới <a href="mailto:fathanghotro@gmail.com">fathanghotro@gmail.com</a> để được hỗ trợ.</p>
