<div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
        <div class="form-block center-block p-30 light-gray-bg border-clear text-left">
          <h2 class="title">Tạo sản phẩm mới</h2>
          <%= render 'form' %>
        </div>
        </div>
      </div>
    </div>
</div>

<%= link_to 'Trở về', products_path %>
